# custom
data/misc/
data/cleaned_data.csv
model/qaics.csv
results/results.csv
docs/
.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints
